<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmRCJk-a9lsB_PXj4gW--IqYDse4hro5s</string>
	<key>GCM_SENDER_ID</key>
	<string>1087809785687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dawraty.ios</string>
	<key>PROJECT_ID</key>
	<string>dawraty-edb4c</string>
	<key>STORAGE_BUCKET</key>
	<string>dawraty-edb4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087809785687:ios:8a47ee5e513f137b56b812</string>
</dict>
</plist>